!!!5
div
    | Name: #{name} (#{id})
div
    | Status: #{status}
div
    | Last activity: #{lastChangedOn}
div
    | Company: #{companyName}
div
    | Company ID: #{companyId}
div
    | Upcoming Milestones: #{upcomingMilestonesCount}
div
    | Completed Milestones: #{completedMilestonesCount}
div
    | Posts: #{postsCount}
